.password-forget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Light background */
    font-family: sans-serif;
}

.password-forget-card {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.tasky-logo {
    width: 100px;
    margin-bottom: 1rem;
}

.password-forget-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.password-forget-text {
    color: #666;
    margin-bottom: 2rem;
}

.password-forget-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    margin-bottom: 0.5rem;
}

.password-forget-input {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.password-forget-button {
    background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.success-message {
    color: green;
    margin-top: 1rem;
}

.error-message {
    color: red;
    margin-top: 1rem;
}