# Dependencies
**/node_modules
**/npm-debug.log

# Build outputs
**/build
**/dist

# Version control
**/.git
**/.gitignore

# Documentation
**/README.md

# Environment files
**/.env*

# Logs
**/*.log

# IDE specific
**/.vscode
**/.idea