.footer {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.footer-logo {
  max-width: 150px;
}

.footer-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer-links a {
  color: #6c757d;
  text-decoration: none;
}

.footer-links a:hover {
  color: #343a40;
}

.text-muted {
  color: #6c757d !important;
}

.social-icons .social-icon {
  font-size: 1.5rem;
  color: #6c757d;
}

.social-icons .social-icon:hover {
  color: #343a40;
}