:root {
  --couleur-fond-bloc: green;
  --couleur-texte-bloc: black;
  --couleur-texte-titre: rgb(18, 3, 3);
}

.hero-section {
  background-image: url('/images/test.jpeg'); /* Chemin mis à jour */
  background-size: cover;
  background-position: center;
  color: var(--couleur-texte-titre);
  text-align: center;
  padding: 5px 0px;
}

.blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Permettre aux blocs de passer à la ligne sur les petits écrans */
  margin-top: 2rem;
  padding: 0 20px;
}

.feature-card {
  background-color: var(--couleur-fond-bloc);
  color: var(--couleur-texte-bloc);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.feature-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.feature-card p {
  font-size: 1rem;
}



.hero-section .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-section h1 {
  font-size: 2.5rem;
  color: #333;
}

.hero-section .lead {
  font-size: 1.25rem;
  color: #666;
}

.hero-section .btn {
  margin-top: 20px;
}

.card {
  border: none;
}

.card-img {
  opacity: 0.7;
}

.card-img-overlay {
  color: white;
  text-align: center;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.25rem;
}

/* Responsive */
@media (max-width: 768px) {
  .feature-card {
    margin-bottom: 20px;
  }
}