/* Conteneur principal */
.connexion-container {
  background-image: url('/images/gazon.jpeg');
  background-size: cover;
  background-position: center;
  max-width: 400px; /* Largeur maximale du formulaire */
  margin: 100px auto; /* Centre le formulaire verticalement et horizontalement */
  padding: 20px; /* Espacement interne */
  border: 1px solid #ddd; /* Bordure légère */
  border-radius: 5px; /* Coins arrondis */
  background-color: #f9f9f9; /* Couleur de fond */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Style des labels */
.connexion-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333; /* Couleur du texte */
}

/* Style des champs d'entrée */
.connexion-form input {
  width: 100%; /* Champs prennent toute la largeur */
  padding: 10px; /* Espacement interne */
  margin-bottom: 15px; /* Espacement entre les champs */
  border: 1px solid #ddd; /* Bordure légère */
  border-radius: 5px; /* Coins arrondis */
  background-color: #fff; /* Couleur de fond */
  font-size: 14px; /* Taille de police */
}

/* Style du bouton */
.connexion-form button {
  width: 100%; /* Bouton prend toute la largeur */
  padding: 10px; /* Espacement interne */
  background-color: #279b68; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille de police */
  cursor: pointer; /* Curseur pointeur */
  transition: background-color 0.3s ease; /* Animation au survol */
}

.connexion-form button:hover {
  background-color: #279b68; /* Couleur au survol */
}

/* Messages d'erreur */
.error-message {
  color: #ff0000; /* Couleur rouge pour les erreurs */
  font-size: 14px;
  margin-bottom: 15px;
}

/* Messages de succès */
.success-message {
  color: #28a745; /* Couleur verte pour les succès */
  font-size: 14px;
  margin-bottom: 15px;
}
  
