.page-container {
  background-image: url('/images/gazon.jpeg');
  background-size: cover;
  background-position: center;
  padding-top: 100px; /* Pour éviter le chevauchement avec le header */
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: #f7f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  max-width: 800px;
  width: 100%;
  margin: 0 20px; /* Marges égales à gauche et à droite */
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #2eaa76;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #279b68;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
}

.contact-info p {
  margin-bottom: 10px;
  color: #666;
}

.contact-info a {
  color: #2eaa76;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}