.inscription-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inscription-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .inscription-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .inscription-form button {
    width: 100%;
    padding: 10px;
    background-color: #2eaa76;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inscription-form button:hover {
    background-color: #279b68;
  }