body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 2rem 0; /* Ajoute un espacement vertical aux sections */
}

.container {
  max-width: 1200px; /* Limite la largeur du conteneur */
  margin: 0 auto; /* Centre le conteneur */
  padding: 0 1rem; /* Ajoute un espacement horizontal */
}